.cal3Container {
    align-self:center;
    display: inline-block;
    height: 100%;
    margin: 0px auto;
    overflow: auto;
    padding: 0px;
    text-align: center;
    width: 100%;
    
    .cal3 {
        display: inline-flex;
        margin: 0 auto;
        text-align: center;
        padding: 0;
        // background-color: rgb(1, 1, 50);
        // border: 1px solid grey;
    
        mat-card {
            background-color: rgb(2, 2, 79);
            color: white;
            border: 1px solid lime;
            margin: 5px;
            padding: 5px;

            mat-card-title {
                text-align: center;
                font-size: 1.2rem;
                border-bottom: 1px solid lime;
            }

            mat-card-content {
                // background-color: gray;

                .calTable {
                    border: 3px dotted #ffff00;
                    color: #f5f5f5;
                    display: inline-block;
                    font-size: 8pt;
                    margin: 5px auto;
                    opacity: 1;
                    overflow: hidden;
                    padding: 0px;

                    tr th {
                        border:1px solid lime;
                    }

                    tr td {
                        border:1px solid lime;
                    }

                
                    .wkdayHdr {
                      font-size: 10pt;
                      margin: 10px 20px;
                      padding: 2px;
                      text-align: center;
                    }

                    .wkdayHdr .hiLite {background-color: yellow;}

                    .calDayRow {
                      font-size: 8pt;
                      text-align: center;
                      width: 30px;
                    }
                
                    .hiLite {
                      background-color: #ffff00;
                      border-radius: 40%;
                      color: #000000;
                    }
                }

                .hiLite {
                    background-color: #ffff00;
                    border-radius: 40%;
                    color: #000000;
                }
                
            }

        }
        
    }
}

.hiLite {
    background-color: #ffff00;
    border-radius: 40%;
    color: #000000;
  }

  
  //     .calSubcontainer {
  //       display: inline-block;
  //       margin: 5px auto;
  //       padding: 10px;
  //       border: 1px dotted limegreen;
  
  //       #calBox {
  //         margin: 0px;
  //         padding: 10px;
  //         width: 100%;
  //       }
  //     }
  //   }
  
  
  