.cal3Container {
    align-self:center;

    .cal3 {
        display: inline-flex;
        margin: 0 auto;
        text-align: center;
        padding: 0;
        // background-color: rgb(1, 1, 50);
        // border: 1px solid grey;
    
        .cal {
            border: 1px solid lime;
            margin: 5px;
            padding: 5px;
        }
        
    }
}