    <div class="cal3Container">
        <div class="cal3"> <!-- 3 Month Calendar Display -->

            <mat-card class="calendar-card">
                <mat-card-title>
                    <div class="title">{{lastMmmYyyy}}</div>
                </mat-card-title>
                <mat-card-content id="calLastMon"></mat-card-content>
            </mat-card>

            <mat-card class="calendar-card">
                <mat-card-title>
                    <div class="title">{{thisMmmYyyy}}</div>
                </mat-card-title>
                <mat-card-content id="calThisMon"></mat-card-content>
            </mat-card>

            <mat-card class="calendar-card">
                <mat-card-title>
                    <div class="title">{{nextMmmYyyy}}</div>
                </mat-card-title>
                <mat-card-content id="calNextMon"></mat-card-content>
            </mat-card>

        </div>
    </div>
