.cal3Container {
    align-self:center;
    display: inline-block;
    height: 100%;
    margin: 0px 10%;
    overflow: auto;
    padding: 0px;
    text-align: center;
    width: 80%;
    // border: 1px solid cyan;
    .cal3 {
        display: inline-flex;
        margin: 0 auto;
        text-align: center;
        padding: 0;
        // background-color: rgb(1, 1, 50);
        // border: 1px solid grey;
    
        mat-card {
            background: rgb(2, 2, 79);
            color: white;
            border: 1px solid lime;
            margin: 5px;
            padding: 5px;

            mat-card-title {
                text-align: center;
                font-size: 1.2rem;
                border-bottom: 1px solid lime;
            }

            #calLastMon,
            #calNextMon,
            mat-card-content {
                display: inline-block;
                margin: 5px auto;
                opacity: 1;
                overflow: hidden;
                padding: 0px;

                table {
                    border:1px solid lime;

                    tr td {
                        border:1px solid cyan;

                        .wkdayHdr {
                            font-size: 10pt;
                            margin: 10px 20px;
                            padding: 2px;
                            text-align: center;

                            #hiLiteWeekday {
                                border: 1px solid cyan;
                                border-radius: 40%;
                            }
                        }
                    }

                    tr.calDayRow {
                        font-size: 8pt;
                        text-align: center;
                        width: 30px;
                                
                        td#hiliteDay {
                            background: #ffff00;
                            border-radius: 40%;
                            color: #000000;
                        }
                    }
                }
               
            }

            #calThisMon {
                border: 2px solid yellow;
                padding: 2px;

                #hiLiteWeekday {
                    border: 1px solid red;

                }

                #hiLiteDay {
                    background: #ffff00;
                    border-radius: 40%;
                    color: #000000;
                }
            }

        }
        
    }
}

.hilite,
#hiliteDay,
#hiLiteWeekday {
    background: #ffff00;
    border-radius: 40%;
    color: #000000;
}
  
  //     .calSubcontainer {
  //       display: inline-block;
  //       margin: 5px auto;
  //       padding: 10px;
  //       border: 1px dotted limegreen;
  
  //       #calBox {
  //         margin: 0px;
  //         padding: 10px;
  //         width: 100%;
  //       }
  //     }
  //   }
  
  
  