<section>
    <div class="about-section">
        <div class="about-div about-about-div">
  
            <div class="section-heading-text">

                <div class="center-text">
                    <h2 class="section-heading">{{heading}}</h2>
                    <h3 class="section-subheading text-primary">{{subHeading}}</h3>
                </div>

            </div>


            <div class="row">
                <div class="col-md-12 skip-md-1">
                    <p>This website is meant to share the many accomplishments of those who
                    share my last name, Maintz.  I think that all of us, at one time or another,
                    have wondered about our family tree.  Have you ever "Googled" your last name
                    to see how many hits it receives?</p>
                    <p>
                    With a last name like Maintz, it's a little easier to track one's ancestry 
                    than it would be with a surname like Smith, for instance.  My grandparents
                    were German immigrants who settled in eastern Pennsylvania during the 
                    depression.  My paternal grandfather was a machinist in the Bethlehem Steel
                    Mill and my maternal grandfather was a Dixie-Cup factory worker.  My father
                    joined the U.S.Air Force and made a career of if, so we moved around a lot.
                    Every 3 years we were moving somewhere new.  One tour of duty took us to
                    Upper Heyford, England.  That gave us the opportunity of vacationing in
                    various parts of Europe each summer.  It was quite an education and it gave
                    me a chance to meet some of my distant relatives.  Since then, I've discovered 
                    a number of distant relatives who've now settled in other parts of Germany, 
                    the Netherlands, and other parts of Europe.  And I've also found a number
                    of Maintz's here in various parts of the United States. In fact, one member
                    of the Maintz clan settled in a town just south of St. Louis, Missouri and
                    was generous enough to donate a number of acres of land as a home for 
                    all species of birds.  Information about the Maintz Wildlife Preserve, around
                    the town of Cape Girardeau, Missouri can be accessed via the 
                    <a href="#links">Links</a> page).</p>
                    <p></p>
                    <p>According to ancestry.com, as of January 2014, there are 1.8 million 
                    members on record within the Maintz family tree (see 
                    <a href="http://search.ancestry.com/cgi-bin/sse.dll?rank=1&amp;cj=1&amp;ti=0&amp;_80004003=Maintz&amp;gsbco=1,All+Countries&amp;prox=1&amp;so=3&amp;db=pubmembertrees&amp;gss=mp-pubmembertrees&amp;_8000c003=Maintz&amp;ti.si=0&amp;sbo=0&amp;gsmpl=1,+&amp;gsdpl=1,+&amp;gsmco=1,All+Countries&amp;gsdco=1,All+Countries&amp;gsbpl=1,+&amp;netid=cj&amp;o_xid=0003056928&amp;o_lid=0003056928&amp;o_sch=Affiliate+External" target="_blank" title="Access ancestry.com's records">
                    registry</a>).</p>
                    <p></p>
                    <p align="left">I've tried to capture some of the websites and user 
                    profiles of other Maintz's on the internet and have placed links to them 
                    on the <a href="#links">Links</a> page.  The list continues to grow so please
                    don't think that this is an exhaustive list.  Please feel free to search
                    on your own.</p>
                </div>
            </div>

        </div>
    </div>
</section>
