@import "../../styles";

.links-section {
    margin: 0px auto;
    //                                   Top Color, Mid Color, Bottom Color
    // background: -webkit-linear-gradient(#ff76aa, #f5f5f5, #ff76aa);
    // background:    -moz-linear-gradient(#ff76aa, #f5f5f5, #ff76aa);
    // background:     -ms-linear-gradient(#ff76aa, #f5f5f5, #ff76aa);
    // background:      -o-linear-gradient(#ff76aa, #f5f5f5, #ff76aa);
    // background:         linear-gradient(#ff76aa, #f5f5f5, #ff76aa);
    // background-size: cover;
    color: #000000;
    height: auto;
    border: 3px solid transparent;

    .links-div {
        margin: 0px 50px;
        padding-top: 10px;
        height: auto;
        
        .section-heading {
        text-shadow: 3px 2px 5px #880000;
        }
    }
    
}