.website-section {
    background: -webkit-linear-gradient(#ffffff, #f5f5f5, transparent);
    background: -moz-linear-gradient(#ffffff, #f5f5f5, transparent);
    background: -ms-linear-gradient(#ffffff, #f5f5f5, transparent);
    background: -o-linear-gradient(#ffffff, #f5f5f5, transparent);
    background: linear-gradient(#ffffff, #f5f5f5, transparent);
  }
  .website-section .about-text {
    color: #000000;
    margin-left: 50px;
    margin-right: 50px;
  }
  .website-section .section-subheading {
    color: #000080;
  }
  .website-section img {
    height: 60px;
    width: auto;
  }
  