.contactus-div {
  background-color: #000080;
  background-image: 'assets/images/home/world.jpg';
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;

  .form-group {
    margin-bottom: 25px;

    input,
    textarea {
      padding: 20px;
    }
    
    input.form-control {
      height: auto;
    }

    textarea.form-control {
      height: 236px;
    }
  }

  .form-control:focus {
    border-color: #0000FF;
    box-shadow: none;
  }

  ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    text-transform: uppercase;
    color: #99CCFF;
    font-weight: 700;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    text-transform: uppercase;
    color: #99CCFF;
    font-weight: 700;
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    text-transform: uppercase;
    color: #99CCFF;
    font-weight: 700;
  }

  :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    text-transform: uppercase;
    color: #99CCFF;
    font-weight: 700;
  }

  .text-danger {
    color: #FF0000;
  }

  .lead {
    color: #666666;
  }
}
