<section>
  <div class="about-section">
    <div class="about-div about-about-div">

      <div class="section-heading-text">

        <div class="center-text">
            <h2 class="section-heading">{{heading}}</h2>
            <h3 class="section-subheading text-primary">{{subHeading}}</h3>
        </div>

      </div>

      <!-- <m-under-construction></m-under-construction> -->
          
      <mat-grid-list cols="3" rows="1">
    
        <mat-grid-tile colspan="1">
          <div class="section-subheading">Left Column</div>
        </mat-grid-tile>
  
        <mat-grid-tile colspan="1">
          <div class="section-subheading">Center Column</div>
        </mat-grid-tile>
  
        <mat-grid-tile colspan="1">
          <div class="section-subheading">Right Column</div>
        </mat-grid-tile>
    
      </mat-grid-list>

      <mat-grid-list cols="3">
    
        <mat-grid-tile colspan="1">
          <div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </mat-grid-tile>
  
        <mat-grid-tile colspan="1">
          <div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </mat-grid-tile>
  
        <mat-grid-tile colspan="1">
          <div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </div>
        </mat-grid-tile>
    
      </mat-grid-list>
      <br/>

    </div>
        
    <p>contact-us works!</p>

  </div>
</section>
  
  