<section>

    <div class="photos-section">

        <div class="photos-div photos-gallery-div">

            <mat-card class="section-heading-text">
                <mat-card-title class="section-heading center-text">{{heading}}</mat-card-title>
                <mat-card-subtitle class="section-subheading center-text">{{subHeading}}</mat-card-subtitle>
                <p *ngIf="photos.length === 0" class="loaded">Loading photos!"</p>
                <p *ngIf="photos.length !== 0" class="loaded">{{photos.length}} photos loaded!"</p>
            </mat-card><br/>

            <!-- <button (click)="photos=getPhotos()" class="btn btn-primary">Get Photos</button> -->
            <!-- <image-grid [images]="photos"></image-grid> -->
            <ul *ngFor="let photo of photos; let i = index">
                <li *ngIf="photo.name !== '' "> <img src="{{photo.thumbnail}}">&nbsp;{{i}}:&nbsp;{{photo.name}}</li>
            </ul>
            <br/><br/>
        </div>
    </div>
</section>
