<section>
    <div class="photos-section">
        <div class="photos-div photos-gallery-div">

            <!-- <m-under-construction></m-under-construction> -->
        
            <div class="section-heading-text">

                <div class="center-text">
                    <h2 class="section-heading">{{heading}}</h2>
                    <h3 class="section-subheading text-primary">{{subHeading}}</h3>
                    <p *ngIf="photos.length === 0" class="loaded">Loading photos!"</p>
                    <p *ngIf="photos.length !== 0" class="loaded">{{photos.length}} photos loaded!"</p>
                </div>

            </div>

            <!-- <image-grid [images]="photos"></image-grid> -->
            
        </div>
    </div>
</section>
