@import '../../styles';

.about-section {
  margin: 1rem;
  //                                   Top Color, Mid Color, Bottom Color
  // background: -webkit-linear-gradient(#2d2d2d, #333333, #888888);
  // background:    -moz-linear-gradient(#2d2d2d, #333333, #888888);
  // background:     -ms-linear-gradient(#2d2d2d, #333333, #888888);
  // background:      -o-linear-gradient(#2d2d2d, #333333, #888888);
  // background:         linear-gradient(#2d2d2d, #333333, #888888);
  // background: transparent repeat;
  // background-size: cover;
  color: #000000;
  // height: auto;
  border: 3px solid transparent;

  .about-div {
    height: auto;
    background-repeat: repeat;
    
    .section-heading {
      text-shadow: 3px 2px 5px #77774f;
    }
  
    img {
      height: 60px;
      width: auto;
      margin: 0 2px;
    }
    
    .list-inline {
      display: inline-block;
      list-style: none;
      list-style-type: none;
      word-wrap: normal;
      align-self: center;
      align-content: center;
  
      li {
        float:left;
        align-self: center;
        align-content: center;
        margin-right: 10px;
        // display: inline;
        // word-wrap: break-word;
  
        :after{
          padding: 10px;
          // content: "|";
        }
  
        :last-child:after {
          padding: 0;
          // content: "";
        }
      }
      
      mat-grid-list {
        height: auto;
      }
    }
    
  }
}