@import '../../styles';

.about-section {
  margin: 0px;
  //                                   Top Color, Mid Color, Bottom Color
  background: -webkit-linear-gradient(#fafecc, #fffeef, #fafecc);
  background:    -moz-linear-gradient(#fafecc, #fffeef, #fafecc);
  background:     -ms-linear-gradient(#fafecc, #fffeef, #fafecc);
  background:      -o-linear-gradient(#fafecc, #fffeef, #fafecc);
  background:         linear-gradient(#fafecc, #fffeef, #fafecc);
  background-size: cover;
  color: #000000;
  height: auto;

  .about-div {
    margin: 0px 50px;
    padding-top: 10px;
    
    .section-heading {
      color: #000000;
      text-shadow: 3px 2px 5px #777777;
    }
  
    .section-subheading {
      color: #000000;
      text-shadow: 3px 2px 5px #777777;
      margin-bottom: 10px;
    }

  }
}