.account-section {
    background-color: white;
    color: #0070C6;
  }
  .account-section button,
  .account-section .btn,
  .account-section .btn-primary {
    background-color: #0070C6;
    color: #000000;
  }
  