<section>

  <div class="home-section">

    <div class="home-div home-dashboard-div">

      <mat-card class="section-heading-text">
        <mat-card-title class="section-heading center-text">{{heading}}</mat-card-title>
        <mat-card-subtitle class="section-subheading center-text">{{subHeading}}</mat-card-subtitle>
      </mat-card><br/>

      <m-under-construction></m-under-construction>

      <div>
        <mat-grid-list cols="3" rowHeight="30px">

          <mat-grid-tile colspan="1">
            <div class="section-subheading">Left Column</div>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <div class="section-subheading">Center Column</div>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <div class="section-subheading">Right Column</div>
          </mat-grid-tile>

        </mat-grid-list>
      </div>

      <div class="grid-container">
        <mat-grid-list cols="2" rowHeight="350px">
          <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>
                  {{card.title}}
                  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                  </mat-menu>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                <div>Card Content Here</div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        <br/><br/>
      </div>

    </div>
  </div>
</section>
