<section>
    <div class="container">
        <div class="content">
            <h1> CSS3 Icons</h1>
            <div class="icon-container">
                <div class="icon icon-fill">
                    <mat-icon>home</mat-icon>
                </div>
                <div class="icon icon-enter">
                    <mat-icon>user</mat-icon>
                </div>
                <div class="icon icon-expand">
                    <mat-icon>bars</mat-icon>
                </div>
                <div class="icon icon-collapse">
                    <mat-icon>sign-in</mat-icon>
                </div>
                <div class="icon icon-rotate">
                    <mat-icon>phone</mat-icon>
                </div>
            </div>
        </div>
    </div>
</section>


