<section>
    <div class="container">
        <div class="content">
            <h1> CSS3 Icons</h1>
            <div class="icon-container">
                <button type="button" class="icon icon-fill"  (click)="buttonPressed('icon-fill')">
                    <mat-icon>home</mat-icon>
                </button>
                <button type="button" class="icon icon-enter"  (click)="buttonPressed('icon-enter')">
                    <mat-icon>fingerprint</mat-icon>
                </button>
                <button type="button" class="icon icon-expand"  (click)="buttonPressed('icon-expand')">
                    <mat-icon color="white">photo_library</mat-icon>
                </button>
                <button type="button" class="icon icon-collapse"  (click)="buttonPressed('icon-collapse')">
                    <mat-icon>video_library</mat-icon>
                </button>
                <button type="button" class="icon icon-rotate"  (click)="buttonPressed('icon-rotate')">
                    <mat-icon>phone</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>


