<section>

    <div class="videos-section">
  
        <div class="videos-div videos-gallery-div">
  
            <mat-card class="section-heading-text">
                <mat-card-title class="section-heading center-text">{{heading}}</mat-card-title>
                <mat-card-subtitle class="section-subheading center-text">{{subHeading}}</mat-card-subtitle>
                <p *ngIf="videos.length === 0" class="loaded">Loading videos!"</p>
                <p *ngIf="videos.length !== 0" class="loaded">{{videos.length}} videos loaded!"</p>
            </mat-card><br/>
  
        </div>
              
        <p>videos-gallery works!</p>

    </div>
</section>