mat-card {
    margin: -20px auto;
    height: calc(100vh - 100px);
    color: blue;
    font-size: 2em;

    mat-card-title {
        text-align: center;
        vertical-align: middle;
        margin-top: 150px;
    }

    mat-card-content {
        padding-top: 100px;

        mat-progress-spinner {
            text-align: center;
            margin: 0 auto;
        }
    }

}
