.center-page {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    background-size: cover;
    z-index: 999;

    mat-card {
        width: 100%;
        height: 100vh;
    }

}

