.center-page {
    width: auto;
    height: auto;
    text-align: center;
    align-content: center;
    background-color: whitesmoke;
    background-size: cover;
    z-index: 999;
    border: 3px solid green;

    mat-card {
        padding-top: 150px;
        width: 100%;
        height: 100vh;
        font-size: 2em;

        h2 {
            margin: 10px auto 50px;
        }

        mat-progress-spinner {
            margin: 10px auto;
        }
    }

}

