<div class="center-page">  

    <mat-card class="text-center">
        <mat-card-content>
            <h2>Loading ...</h2>
            <mat-progress-spinner
                class="text-center"
                [color]="spinnerColor"
                [diameter]="spinnerSize"
                mode="indeterminate">
            </mat-progress-spinner>
        </mat-card-content>
    </mat-card>
    
</div>

<!-- To call from another component: 

      <div class="loading" *ngIf="isLoading">
        <m-loading *ngIf="isLoading"></m-loading>
      </div>
      
-->