footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
  justify-content: left;

  a {
    align-items: center;
  }

  .text-center {
    justify-content: center;
  }
}
