<!-- Footer -->
<footer>

	<div class="mainContainer" fxLayout="row" fxLayoutAlign="space-around center">

		<mat-grid-list cols="8" rowHeight="30px">

			<mat-grid-tile colspan="1">
				<div class="footerText">
					<span>Maintz.com</span>
				</div>
			</mat-grid-tile>

			<mat-grid-tile colspan="6">
				<div class="copyrightLine">
					<span class="copyright">Copyright ©{{currentYear}} </span>
					<span>
						<a target="_blank" href="http://allbusinesscomputerservices.com">
						<span class="allBus">All Business Computer Services LLC.</span>
						<span class="abcs">ABCS</span>
						</a>
					</span>
					<span class="allRights"> All Rights Reserved.</span>
				</div>                
			</mat-grid-tile>

			<mat-grid-tile colspan="1">
				<!-- Show this only when the screen size is > 768 -->
				<div class="socBtns" >
					<div cols="4" rowHeight="40px" fxLayout="row" fxLayoutAlign="space-around center">
						<a target="_blank" href="https://www.facebook.com/bill.maintz"><img src="assets/images/logos/facebook.svg"></a>&nbsp;
						<a target="_blank" href="https://twitter.com/wmmaintz"><img src="assets/images/logos/twitter.svg"></a>&nbsp;
						<a target="_blank" href="https://www.linkedin.com/in/billmaintz"><img src="assets/images/logos/linkedin.svg"></a>
					</div>
				</div>
			</mat-grid-tile>

		</mat-grid-list>

	</div>
</footer>
