<!-- Footer -->
<footer class="navbar-fixed-bottom">
	<div class="container-fluid">

		<div class="row">
			<!-- Only show this when the screen size is > 768 -->
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="footerText">
					<span>Maintz.com</span>
				</div>
			</div>

			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
				<div class="copyrightLine">
					<span class="copyright">Copyright © 2016 </span>
					<span class="allBus">All Business Computer Services LLC.</span>
					<span class="abcs">ABCS</span>
					<span class="allRights"> All Rights Reserved.</span>
				</div>                
			</div>

			<!-- Only show this when the screen size is > 768 -->
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<ul class="socBtns">
					<li><a target="_blank" href="https://twitter.com/wmmaintz"><i class="fa fa-twitter fa-fw"></i></a></li>
					<li><a target="_blank" href="https://www.facebook.com/bill.maintz"><i class="fa fa-facebook fa-fw"></i></a></li>
					<li><a target="_blank" href="https://www.linkedin.com/in/billmaintz"><i class="fa fa-linkedin fa-fw"></i></a></li>
					<li><a target="_blank" href="https://plus.google.com/115390032023459794113"><i class="fa fa-google-plus fa-fw"></i></a></li>
				</ul>                
			</div>                        
		</div>
	</div>
</footer>
