footer {
  background: -webkit-linear-gradient(#666666, #ffffff, #000000);
  background: -moz-linear-gradient(#666666, #ffffff, #000000);
  background: -ms-linear-gradient(#666666, #ffffff, #000000);
  background: -o-linear-gradient(#666666, #ffffff, #000000);
  background: linear-gradient(#666666, #ffffff, #000000);
  border: 0.25px solid #000000;
  -moz-box-sizing: none;
  -webkit-box-shadow: 0px 0px;
  -webkit-box-sizing: none;
  border: 0px;
  box-shadow: 0px 0px;
  box-sizing: none;
  // line-height: 140px;
  // height: 140px;
  width: 100%;
  position: fixed;
  bottom:0px;
  display: inline-block;
  align-items: center;
  justify-content: left;
  z-index: 99;

  .mainContainer {
    height: 30px;
    text-align: center;
    align-items: center;
    vertical-align: middle;

    mat-grid-list {

      mat-grid-tile {
        
        .footer-text {
          z-index: 100;
        }
      
        .copyrightLine {
          z-index: 100;
          font-size: s-small;

          .allBus {
            display:inline;
          }
          .abcs {
            display:none;
          }
          .allRights {
            display:inline;
          }


        }
      
        .socBtns {
          z-index: 100;
          display: inline-block;
          list-style: none;
          list-style-type: none;

          a {
            align-items: center;
            width: 20px;
            height: 20px;
            display: inline-flex;
          }
        
        }
      }
    
    }

  }

}

row {
  border: 1px solid black;
}

.text-center {
  justify-content: center;
}
