.photo-text {
  margin-left: 50px;
  margin-right: 50px;
}

.loaded {
  color: red;
  font-weight: normal;;
  font-size: .7em;
}

table {
  width: 100%;
  border: 1px solid grey;
}

.filterResult {
  color: #000000;
  text-shadow: 2px 2px 6px #000000;
}

ul {
  display: inline;
  list-style: none;
}

ul li a {
  color: #000080;
}

.photos {
  border: 8px solid transparent;
  border-radius: inherit;
  display: inline-block;
  margin: 5px auto;
  text-align: center;
}

.back {
  font-size: 12pt;
  height: 288px;
}

.back #fullscreenBtn {
  margin: 0px auto;
  text-align: center;
}

///////////////////////////////////////////////////////////////////////////////////////////

.photo-grid-section {
  .filter {
    color: #000000;
    font-weight: normal;
    margin: auto;
    text-align: center;
    text-shadow: none;
  }
  
  .filter label {
    color: #00CCFF;
  }
  
  .filter .primary input,
  .filter .primary select {
    text-align: left;
  }
  
  .photoGrid {
    border: 1px solid #00CCFF;
    margin: 0px auto;
    padding: 10px;
    padding-right: 20px;
    vertical-align: middle;
    width: 95%;
  }
  
  .photoGGrid {
    border-collapse: collapse;
  }
  
  .photoGGrid .grid_row {
    background-color: transparent;
    color: #f5f5f5;
    font-family: 'Courier-New';
  }
  
  .photoGGrid .grid_row td {
    padding: 10px;
    vertical-align: middle;
  }
  
  .photoGGrid .grid_row td .dataCell {
    border: 1px dotted grey;
  }
  
  .photoGGrid .grid_row td .checkbox {
    font-family: Wingdings;
  }
  
  .photoGGrid .grid_row td .box {
    display: block;
    height: 84px;
    width: auto;
  }
  
  .photoGGrid .grid_row td img {
    border: 2px solid transparent;
    display: block;
    height: 64px;
    margin: 0px auto 10px;
    width: auto;
  }
  
  .photoGGrid .grid_row td input {
    background-color: transparent;
  }
  
  .photoGGrid .grid_row td input:active {
    background-color: #000000;
    border: 1px dotted #A3A3A3;
  }
  
  .photoGGrid .hilightRow {
    color: #ff3300;
    font-weight: 600;
  }
  
  .photoGGrid .ui-grid-footer {
    background-color: #666666;
    color: #FF0000;
    font-weight: 600;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////


