<section id="top" *ngIf="!isLoading">

    <div class="photos-section">

        <div class="photos-div photos-list-div">

            <mat-card class="section-heading-text">
                <mat-card-title class="section-heading centerText">{{heading}}</mat-card-title>
                <mat-card-subtitle class="section-subheading centerText">{{subHeading}}</mat-card-subtitle>
                <p *ngIf="!photos" class="loaded">Loading photos!"</p>
                <p *ngIf="photos !== undefined" class="loaded">{{photos.length}} photos loaded!</p>
            </mat-card><br/>

            <!-- Sample Table : -->
            <!-- <table matSort (matSortChange)="sortPhotos($event)">
                <tr>
                    <th mat-sort-header="id">Id</th>
                    <th mat-sort-header="img">Image</th>
                    <th mat-sort-header="name">Name</th>
                    <th mat-sort-header="dateTaken">Date Taken</th>
                    <th mat-sort-header="size">Size</th>
                    <th mat-sort-header="tags">Tags</th>
                    <th mat-sort-header="highlight">Hilight</th>
                </tr>

                <tr *ngFor="let photo of sortedData">
                    <td>{{photo.id}}</td>
                    <td><img src="{{photo.thumbnail}}"></td>
                    <td>{{photo.name}}</td>
                    <td>{{photo.dateTaken}}</td>
                    <td>{{photo.size}}</td>
                    <td>{{photo.tags}}</td>
                    <td>{{photo.hilight}}</td>
                </tr>
            </table> -->


            <!---   Note: The columns in this table can be defined in any order. The actual
                    rendered columns are set as a property on the row definition"
            -->
            <!-- <table *ngIf="photos.length!==0" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8"> -->

                <!-- Id Column -->
                <!--
                    <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                -->
                <!-- Name Column -->
                <!--
                    <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
-->
                    <!-- Href Column -->
            <!--
                    <ng-container matColumnDef="href">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by HREF URI"> Href </th>
                    <td mat-cell *matCellDef="let element"> {{element.href}} </td>
                    </ng-container> -->
                    -->             
                    <!-- Thumbnail Column -->
            <!--
                    <ng-container matColumnDef="thumbnail">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by thumbnail URI"> Thumbnail </th>
                        <td mat-cell *matCellDef="let element"> {{element.thumbnail}} </td>
                    </ng-container>
                    -->             

                    <!-- Hoffset Column -->
            <!--
                    <ng-container matColumnDef="hoffset">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by horizontal offset"> Horz. Offset </th>
                        <td mat-cell *matCellDef="let element"> {{element.hoffset}} </td>
                    </ng-container>
                    -->             
                
                    <!-- Voffset Column -->
            <!--
                    <ng-container matColumnDef="voffset">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by vertical offset"> Vert. Offset </th>
                        <td mat-cell *matCellDef="let element"> {{element.voffset}} </td>
                    </ng-container>
                    -->             
                
                    <!-- DateTaken Column -->
            <!--
                    <ng-container matColumnDef="dateTaken">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date taken"> DateTaken </th>
                        <td mat-cell *matCellDef="let element"> {{element.dateTaken}} </td>
                    </ng-container>
                    -->             
                
                    <!-- Size Column -->
            <!--
                    <ng-container matColumnDef="size">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by size"> Size </th>
                        <td mat-cell *matCellDef="let element"> {{element.size}} </td>
                    </ng-container>
                    -->             
                
                <!-- Tags Column -->
                <!--
                <ng-container matColumnDef="tags">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tags"> Tags </th>
                    <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
                </ng-container>
                -->             
                    
                <!-- Hilight Column -->
                <!--
                <ng-container matColumnDef="hilight">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by hilight"> Hilight? </th>
                    <td mat-cell *matCellDef="let element"> {{element.hilight}} </td>
                </ng-container>
                -->             
                
                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> -->


        </div>
    </div>


    <mat-card>
        [ {{photos.length}} ] photos loaded!
        <ul>
            <li *ngFor="let photo of photos">{{photo.name}}</li>
        </ul>
    </mat-card>

    <!-- <p *ngFor="let photo of photos">
        <span>Name = [ {{photo.name}} ]</span>
    </p> -->

    <!-- <mat-grid-list cols="2" rowHeight="2:1" *ngFor="let photo of photos">
        <mat-grid-tile>{{photo.name}}</mat-grid-tile>
    </mat-grid-list> -->

    <!-- <mat-tab-group >

        <mat-tab label="Photos">
            <mat-card-list [photos]="photos | async" (photosChanged)="getPhotos()">
            </mat-card-list>"
        </mat-tab>

    </mat-tab-group> -->


    <m-under-construction [webpart]="'component'"></m-under-construction>

</section>
