<mat-toolbar>

  <mat-nav-list><!-- Main Menu -->

    <!-- <mat-icon>more_vert</mat-icon> -->
    
    <button class="navbarBtn"
      fxHide.gt-xs
      routerLink="/"
      matTooltip="Display the HOME screen"
      aria-label="This button displays the HOME screen tooltip when focused or hovered over">
      <mat-icon aria-hidden="false" aria-label="Home icon" >home</mat-icon>
    </button>

    <button class="navbarBtn dropdown" [matMenuTriggerFor]="adminMenu" matTooltip="Display the ADMINISTRATORS menu"
      *ngIf="user.role=='admin'" aria-label="This button displays the ADMINISTRATORS menu tooltip when selected"
      [ngClass]="{ 'open': isDropDownOpen}">
      <mat-icon aria-hidden="false" aria-label="Admin icon">fingerprint</mat-icon>
      <span class="menu-text" *ngIf="showMenuText">Admin</span>
    </button>
    <button class="navbarBtn" [matMenuTriggerFor]="aboutMenu" matTooltip="Display the ABOUT menu">
      <mat-icon>contact_support</mat-icon><span class="menu-text" *ngIf="showMenuText">About</span>
    </button>
    <button class="navbarBtn" [matMenuTriggerFor]="photoMenu" matTooltip="Display the PHOTOS menu">
      <mat-icon>photo_library</mat-icon><span class="menu-text" *ngIf="showMenuText">Photos</span>
    </button>
    <button class="navbarBtn" [matMenuTriggerFor]="videoMenu" matTooltip="Display the VIDEOS menu">
      <mat-icon>video_library</mat-icon><span class="menu-text" *ngIf="showMenuText">Videos</span>
    </button>
    <button class="navbarBtn" [matMenuTriggerFor]="linkMenu"  matTooltip="Display the LINKS menu">
      <mat-icon>link</mat-icon><span class="menu-text" *ngIf="showMenuText">Links</span>
    </button>
    <button class="navbarBtn" [matMenuTriggerFor]="miscMenu"  matTooltip="Display the MISCELLANEOUS menu">
      <mat-icon>pages</mat-icon><span class="menu-text" *ngIf="showMenuText">Misc</span>
    </button>
    <button class="navbarBtn" routerLink="/login" *ngIf="!isLoggedIn" matTooltip="Login to the website">
      <mat-icon>power</mat-icon><span class="menu-text" *ngIf="showMenuText">Login</span>
    </button>
    <button class="navbarBtn" routerLink="/logoff" *ngIf="isLoggedIn" matTooltip="Logoff of this website">
      <mat-icon>power_off</mat-icon><span class="menu-text" *ngIf="showMenuText">Logoff</span>
    </button> 
  </mat-nav-list>

  <mat-menu class="navbarBtn" #mainMenu="matMenu">

    <button mat-menu-item [matMenuTriggerFor]="adminMenu" matTooltip="Display The Admin Menu">
      <mat-icon>gavel</mat-icon>
      <span *ngIf="showMenuText">Admin</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="aboutMenu" matTooltip="Display The About Menu">
      <mat-icon>about</mat-icon>
      <span *ngIf="showMenuText">About</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="photoMenu" matTooltip="Display The Photos Menu">
      <mat-icon>photo</mat-icon>
      <span *ngIf="showMenuText">Photos</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="videoMenu" matTooltip="Display The Videos Menu">
      <mat-icon>photos</mat-icon>
      <span *ngIf="showMenuText">Videos</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="linkMenu" matTooltip="Display The Links Menu">
      <mat-icon>link</mat-icon>
      <span *ngIf="showMenuText">Links</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="miscMenu" matTooltip="Display The Miscellaneous Menu">
      <mat-icon>misc</mat-icon>
      <span *ngIf="showMenuText">Misc</span>
    </button>
    <span *ngIf="menuItems">{{menuItems.length}}</span>
  </mat-menu>

  <mat-menu #adminMenu="matMenu">
    <button class="submenu-item" mat-menu-item routerLink="dashboard">
      <mat-icon>dashboard</mat-icon>
      <span *ngIf="showMenuText">Dashboard</span>
    </button>
    <!-- <button class="submenu-item" [matMenuTriggerFor]="userMenu">
      <mat-icon aria-hidden="false" aria-label="People icon" fontIcon="people" tooltip="Users Submenu">people</mat-icon>
      <span *ngIf="showMenuText">Users</span>
    </button>
  </mat-menu>    

  <mat-menu #userMenu="matMenu"> -->
    <button mat-menu-item routerLink="login">
      <mat-icon>power</mat-icon>
      <span *ngIf="showMenuText">Login</span>
    </button>
    <button mat-menu-item routerLink="logoff">
      <mat-icon>power_off</mat-icon>
      <span *ngIf="showMenuText">Log off</span>
    </button>
    <button mat-menu-item routerLink="users-list">
      <mat-icon>people</mat-icon>
      <span *ngIf="showMenuText">User List</span>
    </button>
    <button mat-menu-item routerLink="register">
      <mat-icon>person_add</mat-icon>
      <span *ngIf="showMenuText">Register</span>
    </button>
    <button mat-menu-item routerLink="user-edit">
      <mat-icon>edit</mat-icon>
      <span *ngIf="showMenuText">Edit User</span>
    </button>
  </mat-menu>

  <mat-menu #aboutMenu="matMenu">
      <button mat-menu-item routerLink="about">
        <mat-icon>contact_support</mat-icon>
        <span *ngIf="showMenuText">About</span>
      </button>
      <button mat-menu-item routerLink="website">
        <mat-icon>build</mat-icon>
        <span *ngIf="showMenuText">Website</span>
      </button>
      <button mat-menu-item routerLink="contact-us">
        <mat-icon>contact_mail</mat-icon>
        <span *ngIf="showMenuText">Contact Us</span>
      </button>
      <button mat-menu-item routerLink="privacy">
        <mat-icon>P</mat-icon>
        <span *ngIf="showMenuText">Privacy Statement</span>
      </button>
      <button mat-menu-item routerLink="terms">
        <mat-icon>T</mat-icon>
        <span *ngIf="showMenuText">Terms of Use</span>
      </button>
    </mat-menu>

  <mat-menu #photoMenu="matMenu" >
      <button mat-menu-item routerLink="/photos-list">
        <mat-icon>blur_linear</mat-icon>
        <span *ngIf="showMenuText">Photo List</span>
      </button>
      <button mat-menu-item routerLink="/photo-add-edit">
        <mat-icon>add_a_photo</mat-icon>
        <span *ngIf="showMenuText">Add Photo</span>
      </button>
      <button mat-menu-item routerLink="/photo-add-edit">
        <mat-icon>edit</mat-icon>
        <span *ngIf="showMenuText">Edit Photo</span>
      </button>
      <button mat-menu-item routerLink="/photos-gallery">
        <mat-icon>party_mode</mat-icon>
        <span *ngIf="showMenuText">Photos Gallery</span>
      </button>
      <button mat-menu-item routerLink="/photos-carousel">
        <mat-icon>party_mode</mat-icon>
        <span *ngIf="showMenuText">Photos Carousel</span>
      </button>
  </mat-menu>

  <mat-menu #videoMenu="matMenu">
      <button mat-menu-item routerLink="videos-list">
        <mat-icon>list</mat-icon>
        <span *ngIf="showMenuText">Video List</span>
      </button>
      <button mat-menu-item routerLink="video-add-edit">
        <mat-icon>video_call</mat-icon>
        <span *ngIf="showMenuText">Add Video</span>
      </button>
      <button mat-menu-item routerLink="video-add-edit">
        <mat-icon>edit</mat-icon>
        <span *ngIf="showMenuText">Edit Video</span>
      </button>
      <button mat-menu-item routerLink="videos-gallery">
        <mat-icon>switch_video</mat-icon>
        <span *ngIf="showMenuText">Videos Gallery</span>
      </button>
      <button mat-menu-item routerLink="videos-carousel">
        <mat-icon>switch_video</mat-icon>
        <span *ngIf="showMenuText">Videos Carousel</span>
      </button>
  </mat-menu>

  <mat-menu #linkMenu="matMenu">
    <button mat-menu-item routerLink="links-list">
      <mat-icon>notes</mat-icon>
      <span *ngIf="showMenuText">Links List</span>
    </button>
    <button mat-menu-item routerLink="link-add-edit">
      <mat-icon>note_add</mat-icon>
      <span *ngIf="showMenuText">Add Link</span>
    </button>
    <button mat-menu-item routerLink="link-add-edit">
      <mat-icon>edit</mat-icon>
      <span *ngIf="showMenuText">Edit Link</span>
    </button>
  </mat-menu>

  <mat-menu #miscMenu="matMenu">
    <button mat-menu-item routerLink="tictactoe">
      <mat-icon>grid</mat-icon>
      <span *ngIf="showMenuText">TicTacToe</span>
    </button>
    <button mat-menu-item routerLink="loading">
      <mat-icon>circle</mat-icon>
      <span *ngIf="showMenuText">Loading</span>
    </button>
    <button mat-menu-item routerLink="/infloading">
      <mat-icon>circle</mat-icon>
      <span *ngIf="showMenuText">Infinity Loading</span>
    </button>
    <button mat-menu-item routerLink="notfound">
      <mat-icon>home</mat-icon>
      <span *ngIf="showMenuText">Not Found</span>
    </button>
    <button mat-menu-item routerLink="underconstruction">
      <mat-icon>home</mat-icon>
      <span *ngIf="showMenuText">Under Construction</span>
    </button>
    <button mat-menu-item routerLink="downloader">
      <mat-icon>home</mat-icon>
      <span *ngIf="showMenuText">Downloader</span>
    </button>
    <button mat-menu-item routerLink="config">
      <mat-icon>home</mat-icon>
      <span *ngIf="showMenuText">Config</span>
    </button>
    <button mat-menu-item routerLink="sidebar">
      <mat-icon>home</mat-icon>
      <span *ngIf="showMenuText">SideBar Menu</span>
    </button>
    <button mat-menu-item routerLink="teststuff">
      <mat-icon>build</mat-icon>
      <span *ngIf="showMenuText">Test Stuff</span>
    </button>
  </mat-menu>

</mat-toolbar>

<br/><br/><br/>
<mat-card *ngIf="showTable && menuItems">
  <mat-card-content>
    <pre>{{ menuItems | json }}</pre>
    <hr>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="showTable && menuItems">
  <mat-card-header>[{{menuItems.length}}] menu-items</mat-card-header>
  <mat-card-content>
    <table>
      <thead>
        <th>menuGroup</th>
        <th>name</th>
        <th>matTooltip</th>
        <th>matIcon</th>
        <th>display</th>
        <th>ariaLabel</th>
        <th>ariaHidden</th>
        <th>routerLink</th>
        <th>subMenuGrp</th>
      </thead>
      <tbody>
      <tr *ngFor="let menuItem of menuItems; let i as index">
        <td>[{{i}}]{{menuItem.menuGroup}}</td>
        <td>{{menuItem.name}}</td>
        <td>{{menuItem.matTooltip}}</td>
        <td>{{menuItem.matIcon}}</td>
        <td>{{menuItem.display}}</td>
        <td>{{menuItem.ariaLabel}}</td>
        <td>{{menuItem.ariaHidden}}</td>
        <td>{{menuItem.routerLink}}</td>
        <td>{{menuItem.subMenuGrp}}</td>
      </tr>
      <!-- <tr><td>---</td></tr>
      <tr>
        <td>[0]{{menuItems[0].menuGroup}}</td>
        <td>{{menuItems[0].name}}</td>
        <td>{{menuItems[0].matTooltip}}</td>
        <td>{{menuItems[0].matIcon}}</td>
        <td>{{menuItems[0].display}}</td>
        <td>{{menuItems[0].ariaLabel}}</td>
        <td>{{menuItems[0].ariaHidden}}</td>
        <td>{{menuItems[0].routerLink}}</td>
        <td>{{menuItems[0].subMenuGrp}}</td>
      </tr>
      <tr>
        <td>[1]{{menuItems[1].menuGroup}}</td>
        <td>{{menuItems[1].name}}</td>
        <td>{{menuItems[1].matTooltip}}</td>
        <td>{{menuItems[1].matIcon}}</td>
        <td>{{menuItems[1].display}}</td>
        <td>{{menuItems[1].ariaLabel}}</td>
        <td>{{menuItems[1].ariaHidden}}</td>
        <td>{{menuItems[1].routerLink}}</td>
        <td>{{menuItems[1].subMenuGrp}}</td>
      </tr> -->
      </tbody>
    </table>
    <hr>
  </mat-card-content>
</mat-card>
<br/>
