<section class="section accounts-section">
    <div class="user-add-edit-section">
    
        <!-- <m-under-construction></m-under-construction> -->
        
        <div class="section-heading-text">
    
            <div class="centerText">
                <h2 class="section-heading">{{heading}}</h2>
                <h3 class="section-subheading text-primary">{{subHeading}}</h3>
                <p *ngIf="users.length === 0" class="loaded">Loading user!"</p>
                <p *ngIf="users.length !== 0" class="loaded">{{users.length}} users loaded!"</p>
            </div>
    
        </div>
            
<!--
<form [formGroup]="f" novalidate>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <!-- {{ f.value | json }} -->
<!-- 
    <input type="text"     name="salutation" ngModel          #salutation="ngModel">
    <input type="text"     name="first"      ngModel required #first="ngModel">
    <input type="text"     name="mi"         ngModel          #mi="ngModel">
    <input type="text"     name="last"       ngModel required #last="ngModel">
    <input type="text"     name="suffix"     ngModel          #last="ngModel">
    <input type="email"    name="email"      ngModel required #last="ngModel">
    <input type="password" name="password"   ngModel required #last="ngModel">
    <input type="text"     name="phone"      ngModel          #last="ngModel">
    <input type="text"     name="role"       ngModel required #last="ngModel">

    <button>Submit</button>
</form>

<hr>
<p>Email name value: {{ first.value }}</p>
<p>Email name valid: {{ first.valid }}</p>
<hr>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p>
-->

    </div>

</section>