<section>

    <div class="links-section">
  
        <div class="links-div links-list-div">
  
            <mat-card class="section-heading-text">
                <mat-card-title class="section-heading center-text">{{heading}}</mat-card-title>
                <mat-card-subtitle class="section-subheading center-text">{{subHeading}}</mat-card-subtitle>
                <p *ngIf="links.length === 0" class="loaded">Loading links!"</p>
                <p *ngIf="links.length > 0" class="loaded">{{links.length}} links loaded!"</p>
            </mat-card><br/>
  
            <p>UL Listing: {{links[1].name}}</p>
            <ul>
                <li *ngFor="let link of links">[{{link.type}}][{{link.category}}][{{link.name}}]
                    <a href="link.href">{{link.href}}</a>
                </li>
            </ul>

            <mat-nav-list *ngIf="links.length > 0">
                <a mat-list-item *ngFor="let link of links"> {{link.name}} </a>
            </mat-nav-list>
    
        </div>
    </div>
</section>