

.link-group-heading {
  color: #f5f5f5;
}

.link-group-subheading {
  color: #99CCFF;
}

ul {
  margin-left: 0px;
  margin-right: 0px;
}

li {
  color: #f5f5f5;
  list-style: none;
  margin-left: -20px;
  margin-right: 20px;
  padding: 0px;
}

.hyperLink {
  color: #f5f5f5;
  font-weight: normal;
  list-style: none;
}

.hyperLink:hover {
  color: #000080;
}

.hyperLinkDesc {
  color: #0070C6;
  font-size: 8pt;
  margin-bottom: 20px;
  margin-top: 0px;
}

blockquote {
  background-color: #000080;
  color: #f5f5f5;
  font-size: 12pt;
  margin: 10%;
}

.mfa-business {
  color: #0070C6;
}

.mfa-clan {
  color: #0070C6;
}

.mfa-fun {
  color: #0070C6;
}
