
  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  mat-menu {
    color: black;
  }

  .row {
    position: absolute;
    top: 300px;
    left: 100px;
  }
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 575px) {
  }
