
// .calContainer {
//     display: inline-block;
//     height: 100%;
//     margin: 0px auto;
//     overflow: auto;
//     padding: 0px;
//     text-align: center;
//     width: 100%;
//     border: 1px solid lime;

//     .calSubcontainer {
//       display: inline-block;
//       margin: 5px auto;
//       padding: 10px;
//       border: 1px dotted limegreen;

//       #calBox {
//         margin: 0px;
//         padding: 10px;
//         width: 100%;
//       }
//     }
//   }

//   .calTable {
//     background-color: #000000;
//     border: 1px dotted #ffff00;
//     color: #f5f5f5;
//     display: inline-block;
//     font-size: 8pt;
//     margin: 5px auto;
//     opacity: 1;
//     overflow: hidden;
//     padding: 0px;

//     .monHdr {
//       font-size: 12pt;
//       margin: 0px auto;
//       text-align: center;
//     }

//     .wkdayHdr {
//       font-size: 10pt;
//       margin: 10px 20px;
//       padding: 2px;
//       text-align: center;
//     }

//     .calDayRow {
//       font-size: 8pt;
//       text-align: center;
//       width: 30px;
//     }

//     .hiLite {
//       background-color: #ffff00;
//       border-radius: 40%;
//       color: #000000;
//     }
//   }



mat-card {
  background: rgb(2, 2, 79);
  max-width: 200px;
  color: white;
  border: 1px solid lime;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;

  mat-card-title {
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid lime;
  }

  mat-card-content {
    display: inline-block;
    margin: 5px auto;
    opacity: 1;
    overflow: hidden;
    padding: 0px;

    table {

      tr {
        margin: 3px auto;

        td {

          .wkdayHdr {
            font-size: 10pt;
            //margin: 10px 20px;
            //padding: 2px;
            text-align: center;

            .hiLite
            {
                background: #ffff00;
                border-radius: 40%;
                color: #000000;
            }
          }

          .calDayRow {
            font-size: 8pt;
            text-align: center;
            width: 30px;
                    
            .hiLite
            {
                background: cyan;
                border-radius: 40%;
                color: #000000;
            }
          }
        }
      }
    }
  }

}

.hiLite
{
    background: #ffff00;
    border-radius: 40%;
    color: #000000;
}
 