<section>

  <div class="videos-section">

    <div class="videos-div videos-list-div">

      <mat-card class="section-heading-text">
          <mat-card-title class="section-heading center-text">{{heading}}</mat-card-title>
          <mat-card-subtitle class="section-subheading center-text">{{subHeading}}</mat-card-subtitle>
          <p *ngIf="video === null" class="loaded">Loading video!"</p>
      </mat-card><br/>

      <form [formGroup]="videoForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card>
          
          <mat-card-header>
            <mat-card-title>Video Id {{video.id}} Information</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Name" formControlName="name" [ngModel]="video.name">
                  <mat-error *ngIf="videoForm.controls['name'].hasError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <img class="top-right-img" src={{video.img}} alt={{video.name}}/>
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Description" formControlName="descript" [ngModel]="video.descript"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Category" formControlName="category" [ngModel]="video.category">
                  <mat-error *ngIf="videoForm.controls['category'].hasError('required')">
                    Category is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Video URL/HREF" formControlName="href" [ngModel]="video.href">
                  <mat-error *ngIf="videoForm.controls['href'].hasError('required')">
                    Video URL/HREF is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Image URL/HREF" formControlName="img" [ngModel]="video.img">
                  <mat-error *ngIf="videoForm.controls['img'].hasError('required')">
                    Image URL/HREF is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </mat-card-actions>

        </mat-card>
      </form>

    </div>
  </div>
</section>
