mat-card {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    color: red;
    // height: 100%;
    margin-top: -30px;
}

mat-card-content {
    padding-top: 100px;
    text-align: center;
}