<section>
    <div class="accounts-section">
        <div class="accounts-div accounts-logoff-div">
    
            <div class="section-heading-text">
    
                <div class="center-text">
                    <h2 class="section-heading">{{heading}}</h2>
                    <h3 class="section-subheading text-primary">{{subHeading}}</h3>
                </div>
    
            </div>

            <mat-grid-list>
                <mat-card class="logoff-card">
                    <mat-card-header class="center-text">
                        <mat-card-title>
                            <span class="center-text">Logoff</span>
                        </mat-card-title>
                        <mat-card-content class="logoff-card-content">
                            <div>You have successfully logged off of maintz.com</div>
                        </mat-card-content>
                    </mat-card-header>
                </mat-card>
            </mat-grid-list>
        </div>
    </div>
</section>