



* {
	border: 0;
	margin: 0;
	padding: 0;
	// box-sizing: border-box;
	}

:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
}

mat-card {
    margin: -20px auto;
    height: calc(100vh - 100px);
    color: blue;
    font-size: 2em;

    mat-card-title {
        text-align: center;
        vertical-align: middle;
        margin-top: 150px;
    }

    mat-card-content {
        padding-top: 100px;

        mat-progress-spinner {
            text-align: center;
            margin: 0 auto;
        }
    }

}

.main {
	background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	display: grid;
	place-items: center;
	transition: background-color var(--trans-dur);
	padding: 1.5em 0;
}

.ip {
	width: 48em;
	height: 7em;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.ip__track {
		stroke: hsl(var(--hue),90%,15%);
	}
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}