<section>

    <div class="photos-section">

        <div class="photos-div photos-carousel-div">

            <mat-card class="section-heading-text">
                <mat-card-title class="section-heading center-text">{{heading}}</mat-card-title>
                <mat-card-subtitle class="section-subheading center-text">{{subHeading}}</mat-card-subtitle>
                <p *ngIf="photos.length === 0" class="loaded">Loading photos!"</p>
                <p *ngIf="photos.length !== 0" class="loaded">{{photos.length}} photos loaded!"</p>
            </mat-card><br/>


            <p>photo-carousel works!</p>
            
        </div>
    </div>
</section>