.photos-div {
  height: 100%;
  background-color: transparent;
}

#photoCarousel {
  width: 96%;
  height: auto;
  margin: auto;
  padding: 0px;
  
  #slides_control {
    height: 420px;
    width: auto;
    margin-top: 20px;

    carousel {
      // background-color: #99CCFF;
      margin: 2px;
      object-fit: contain;
      height: 420px;
      max-height: 420px;
      width: auto;
      max-width: 420px;

      slide {
        margin: auto;
        left: 0;
        height: 420px;
        width: auto;
        max-height: 420px;
        max-width: 420px;
        object-fit: contain;

        img {
          border: 5px dashed #0070C6;
          margin: 5px auto 5px;
          height: 100%;
          max-height: 420px;
          width: auto;
          max-width: 420px;
          overflow-x: hidden;
          object-fit: contain;
        }
      }
    }
  }
}

.carousel-caption {
  bottom: 0px;
  color: #000000;
  margin-bottom: 0px;
  text-shadow: 2px 2px 3px #000080;
}

#slideName {
  background: -webkit-radial-gradient(#A3A3A3, #ffffff);
  background: -moz-radial-gradient(#A3A3A3, #ffffff);
  background: -ms-radial-gradient(#A3A3A3, #ffffff);
  background: -o-radial-gradient(#A3A3A3, #ffffff);
  background: radial-gradient(#A3A3A3, #ffffff);
  border-radius: 7px;
  margin-bottom: 7px;
}

.carousel-indicators {
  bottom: 2px;
}

#intervalSlide {
  margin-bottom: 5px;
  margin-top: 5px;
}

