@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
section {

  .home-section {
    height: auto;
    width: 100% !important;
    border: 3px solid navy;
    margin: 0 20px;
    display: block;
    align-items:center;
    min-height:100vh;
    color: white;
    
    .home-home-div {

      .section-heading {
        font-family: "Droid Serif", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        text-transform: none;
        font-style: italic;
        padding: 0px 10px 0px;
        text-shadow: 2px 3px 4px #36624b;
        width: 100% !important;
        margin: 30px auto;
        text-align: center;
      }

      .section-heading-text {
        display: block;
        // background-color: beige;

        .section-subheading {
          margin: 30px auto 30px;
          padding: 0px;

          // border: 3px solid red;
        }
      }

      .section-heading-img {
        // display: inline;
        background-color: transparent;
        // background-color: blue;

        .section-heading {
          color: whitesmoke;
          text-shadow: 3px 2px 5px #65ade4;
          font-size: 2em;
          margin: 0px auto;
          vertical-align: middle;
        }
    
        img {
          margin: 0px auto 0px;
          width: 100%;
          height: 100%;
        }
      }

      .container {
        margin: 0 30px;
        align-content: center;
        
        .card-container {
          text-align: center;
          align-self: center;

          a span {
            color: white;
          }

          .material-icons {
            color: white;
          }

        }

      }

      .readMore {
        margin: 0px auto;
        text-align: center;

        .btn {
          margin: 10px auto;
          text-align: center;
          align-self: center;
          padding: 10px;
          box-sizing: border-box;
          
          a {
            color: white;
            font-family: 'Roboto Mono', monospace;
            font-weight: bold;
  
          }
        }
  
  
      }


    }
  }




  .testing {

    .loading {
      border: 2px solid transparent;
      background-size: cover;
  
    }

    .ucWrapper {
      padding: 5px;
      border: 1px solid red;
    }

    mat-grid-list {    
      border: 1px solid navy;
      mat-grid-tile {
        border: 1px dotted black;
        width: 100% ;
        display: block;
      }
    }

    
    .section-title {
      #learnMore {
        margin: 0px auto;
        text-align: center;
      }

      .content {
        display: flex;
        margin: 82px auto 32px;
        padding: 0 16px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
      }

      svg.material-icons {
        height: 24px;
        width: auto;

        :not(:last-child) {
          margin-right: 8px;
        }

        path {
          fill: #888;
        }

      }

      .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;

        .card {
          all: unset;
          border-radius: 4px;
          border: 1px solid #eee;
          background-color: #fafafa;
          height: 40px;
          width: 200px;
          margin: 0 8px 16px;
          padding: 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          transition: all 0.2s ease-in-out;
          line-height: 24px;

          :not(:last-child) {
            margin-right: 0;
          }
        
          :not(.highlight-card) {
            cursor: pointer;
          }
        
          :not(.highlight-card):hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
          }
        
          :not(.highlight-card):hover .material-icons path {
            fill: rgb(105, 103, 103);
          }
        
          .highlight-card {
            background-color: #1976d2;
            color: white;
            font-weight: 600;
            border: none;
            width: auto;
            min-width: 30%;
            position: relative;
        
            span {
              margin-left: 60px;
            }
          }
      
      

        }

        .card-small {
          height: 16px;
          width: 168px;
        }
      
      }

      a,
      a:visited,
      a:hover {
        color: #1976d2;
        text-decoration: none;
      }

      a:hover {
        color: #125699;
      }

      .terminal {
        position: relative;
        width: 80%;
        max-width: 600px;
        border-radius: 6px;
        padding-top: 45px;
        margin-top: 8px;
        overflow: hidden;
        background-color: rgb(15, 15, 16);

        ::before {
          content: "\2022 \2022 \2022";
          position: absolute;
          top: 0;
          left: 0;
          height: 4px;
          background: rgb(58, 58, 58);
          color: #c2c3c4;
          width: 100%;
          font-size: 2rem;
          line-height: 0;
          padding: 14px 0;
          text-indent: 4px;
        }
      
        pre {
          font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
          color: white;
          padding: 0 1rem 1rem;
          margin: 0;
        }

      }

      .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;

        :hover {
          transform: translateY(-0.25rem);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        }

      }

      mat-slider {
        width: 300px;
      }

      /* Responsive Styles */
      @media screen and (max-width: 767px) {
        .card-container > *:not(.circle-link) ,
        .terminal {
          width: 100%;
        }

        .card:not(.highlight-card) {
          height: 16px;
          margin: 8px 0;
        }

        .card.highlight-card span {
          margin-left: 72px;
        }

      }

      @media screen and (max-width: 575px) {
      }
    }




  }


  
  body {
    width:100%;
    position: relative;
    display:flex;
    justify-content:center;
    background: #000;
  }

  .readMore
  {
    width:600px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    
    .btn {
      position:relative;
      width: 155px;
      height: 55px;
      margin:20px;
    }

    .btn a
    {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      display:flex;
      justify-content:center;
      align-items:center;
      background: rgba(255,255,255,0.05);
      box-shadow: 0 15px 35px rgba(0,0,0,0.2);
      border-top: 1px solid rgba(255,255,255,0.1);
      border-bottom:1px solid rgba(255,255,255,0.1);
      border-radius: 30px;
      color: #000;
      font-weight: bold;
      z-index: 1;
      font-size: 400;
      font-weight: 300;
      letter-spacing: 1px;
      text-decoration: none;
      overflow: hidden;
      transition: 0.5s;
      backdrop-filter: blur(15px);
    }

    .btn:hover a
    {
      letter-spacing: 3px;
    }

    .btn a::before
    {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(to left, rgba(255,255,255,0.15),
      transparent);
      transform: skewX(45deg) translateX(0);
      transition: 0.5s;
    }
    
    .btn:hover a::before
    {
      transform: skewX(45deg) translateX(200%);
    }
    .btn::before
    {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -5px;
      width:30px;
      height:10px;
      background: #000;
      border-radius: 10px;
      transition: 0.5s;
      transition-delay: 0s;
    }
    .btn:hover::before
    {
      bottom: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
      transition-delay: 0.5s;
    }
    
    .btn::after
    {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -5px;
      width:30px;
      height:10px;
      background: rgb(0,0,0);
      border-radius: 10px;
      transition: 0.5s;
      transition-delay: 0s;
    }
    .btn:hover::after
    {
      top: 0;
      height: 50%;
      width: 80%;
      border-radius: 30px;
      transition-delay: 0.5s;
    }
    
    .btn:nth-child(1)::before,
    .btn:nth-child(1)::after
    {
      background: #2ba7ff;
      box-shadow: 0 0 5px #2ba7ff,
      0 0 15px #2ba7ff,
      0 0 30px #2ba7ff,
      0 0 60px #2ba7ff;
    }
  }
}