<section>
  
  <div class="home-section">

    <div class="home-div home-home-div">

      <m-x-mas-tree></m-x-mas-tree>
      
      <div class="section-heading-div container">

        <mat-card class="section-heading-text" *ngIf="!imgEntry">
          <mat-card-title class="section-heading centerText">{{heading}}</mat-card-title>
          <!-- <mat-card-subtitle class="section-subheading centerText">{{today}}</mat-card-subtitle> -->
          <!-- <mat-card-content class="section-subheading centerText">{{subHeading}}</mat-card-content> -->
        </mat-card>

        <div class="section-heading-img centerText" *ngIf="imgEntry">
          <br/>
          <div class="section-heading">Welcome To</div>
          <div class="section-subheading">
            <img class="img img-responsive img-centered" 
                src="assets/images/home/maintz.com.png"
                alt="Maintz.com"/>
          </div>
          <div class="section-subheading" style="color:white;">Today is {{today}}</div>
        </div>
        
      </div>

      <div class="calendars centerText">
        <m-calendar-three-mon [thisMonthsDate]="thisMonthsDate">3 Month Calendar Is Loading</m-calendar-three-mon>
      </div>
      
      <!-- <div class="underConstruction">
        <m-under-construction [webpart]="webpart"></m-under-construction>
      </div> -->
      
      <div class="readMore">&nbsp;&nbsp;&nbsp;
        <div class="btn">
          <a (click)="gotoAbout()"><mat-icon>library_books</mat-icon>&nbsp;LEARN MORE</a>
        </div>
        <svg  xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1" width="64" height="48" viewBox="0 0 64 48" xml:space="preserve">
          <desc>Created with Fabric.js 3.6.6</desc>
          <defs>
          </defs>
          <g transform="matrix(17.78 0 0 23.55 319.5 240.79)">
              <text xml:space="preserve"
                font-family="'Oswald', sans-serif" 
                font-size="30"
                font-style="normal"
                font-weight="normal" 
                style="stroke: rgb(0,1,11);
                       stroke-opacity: 0;
                       stroke-width: 5;
                       stroke-dasharray: none;
                       stroke-linecap: butt;
                       stroke-dashoffset: 0;
                       stroke-linejoin: miter;
                       stroke-miterlimit: 4;
                       fill: rgb(255,255,255);
                       fill-rule: nonzero;
                       opacity: 1;
                       white-space: pre;">
              <tspan x="-7.84" y="5.65"
                style="stroke-width: 1;
                       font-family: 'Playfair Display', serif;
                       font-size: 18px;
                       font-style: normal;
                       font-weight: normal;
                       fill: rgb(2,2,137);">M
              </tspan>
            </text>
          </g>
        </svg>
      </div>
      <br/>
    </div>
  </div>
</section>


