@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
section {

  .home-section {
    height: auto;
    width: auto;
    border: 3px solid navy;
    margin: 0px;
    display: block;
    align-items:center;
    color: grey;

    .home-home-div {
      margin: 0px auto;
      position: relative;
      justify-content:center;

      .section-heading-div {
        // border: 2px dotted red;

        .section-heading {
          font-family: "Droid Serif", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
          text-transform: none;
          font-style: italic;
          padding: 0px 10px 0px;
          text-shadow: 2px 3px 4px #36624b;
          width: auto;
          margin: 0px auto;
          text-align: center;
        }

        .section-heading-text {
          display: block;

          .section-heading {
            margin: 30px auto;
            font-size: 3em;
            width: 50%;
        }

          .section-subheading {
            margin: 30px auto 30px;
            padding: 0px;
            font-size: 1.5em;
            text-shadow: none;
          }
        }

        .section-heading-img {
          // display: inline;
          background-color: transparent;
          // background-color: blue;

          .section-heading {
            color: whitesmoke;
            text-shadow: 3px 2px 5px #65ade4;
            font-size: 3em;
            margin: 0px auto;
            vertical-align: middle;
          }
      
          img {
            margin: 0px auto 0px;
            width: 100%;
            height: 100%;
          }

          .section-subheading {
            margin: 30px auto;
            padding: 0px;
            font-size: 1.5em;
          }

        }
      }

      .calendars {
        margin: 50px auto 50px;
      }

      .readMore {
        width:600px;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        margin: 0px auto;
        text-align: center;
        
        .btn {
          position:relative;
          width: 155px;
          height: 55px;
          margin:20px;
        }
    
        .btn a
        {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          display:flex;
          justify-content:center;
          align-items:center;
          background: rgba(255,255,255,0.05);
          box-shadow: 0 15px 35px rgba(0,0,0,0.2);
          border-top: 1px solid rgba(255,255,255,0.1);
          border-bottom:1px solid rgba(255,255,255,0.1);
          border-radius: 30px;
          color: #fff;
          font-weight: bold;
          z-index: 1;
          font-size: 400;
          font-weight: 300;
          letter-spacing: 1px;
          text-decoration: none;
          overflow: hidden;
          transition: 0.5s;
          backdrop-filter: blur(15px);
          border: rgba(255,255,255,0.5);
        }
    
        .btn a mat-icon {
          color: white;
        }

        .btn:hover a
        {
          letter-spacing: 3px;
        }
    
        .btn a::before
        {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          background: linear-gradient(to left, rgba(255,255,255,0.15),
          transparent);
          transform: skewX(45deg) translateX(0);
          transition: 0.5s;
        }
        
        .btn:hover a::before
        {
          transform: skewX(45deg) translateX(200%);
        }
        
        .btn::before
        {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -5px;
          width:30px;
          height:10px;
          background: #000;
          border-radius: 10px;
          transition: 0.5s;
          transition-delay: 0s;
        }
        
        .btn:hover::before
        {
          bottom: 0;
          height: 50%;
          width: 80%;
          border-radius: 30px;
          transition-delay: 0.5s;
        }
        
        .btn::after
        {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -5px;
          width:30px;
          height:10px;
          background: rgb(0,0,0);
          border-radius: 10px;
          transition: 0.5s;
          transition-delay: 0s;
        }
        
        .btn:hover::after
        {
          top: 0;
          height: 50%;
          width: 80%;
          border-radius: 30px;
          transition-delay: 0.5s;
        }
        
        .btn:nth-child(1)::before,
        .btn:nth-child(1)::after
        {
          background: #2ba7ff;
          box-shadow: 0 0 5px #2ba7ff,
          0 0 15px #2ba7ff,
          0 0 30px #2ba7ff,
          0 0 60px #2ba7ff;
        }
      }

      .underConstruction {
        margin: 50px auto 100px;
      }
    }
  }
}




/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

}

@media screen and (max-width: 575px) {

}

  
