<section>

    <div class="videos-section">
  
        <div class="videos-div videos-list-div">
  
            <mat-card class="section-heading-text">
                <mat-card-title class="section-heading centerText">{{heading}}</mat-card-title>
                <mat-card-subtitle class="section-subheading centerText">{{subHeading}}</mat-card-subtitle>
                <p *ngIf="videos.length === 0" class="loaded">Loading videos!"</p>
                <p *ngIf="videos.length !== 0" class="loaded">{{videos.length}} videos loaded!"</p>
            </mat-card><br/>
  
            <h4>UL Listing: {{videos.length}} links!</h4>
            <ul>
                <li *ngFor="let video of videos">
                    [{{video.id}}][{{video.category}}][{{video.name}}]
                    [{{video.descript}}]
                    <a href="video.img">[{{video.img}}]</a>
                    <a href="video.href">[{{video.href}}]</a>
                </li>
            </ul>

            <p>{{videos.length}} videos loaded.</p>
            <br/>
            <p>---</p>
            
        </div>
    </div>
</section>
    