// Standard CSS templates
// m-background-color(c1, c2, c3) {
//     background: -webkit-linear-gradient(#666666, #ffffff, #000000);
//     background: -moz-linear-gradient(#666666, #ffffff, #000000);
//     background: -ms-linear-gradient(#666666, #ffffff, #000000);
//     background: -o-linear-gradient(#666666, #ffffff, #000000);
//     background: linear-gradient(#666666, #ffffff, #000000);
// }
