/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100vh; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: url("assets/images/home/blue-smoke-wallpaper-hd1.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}
  
/**
 ** Google Device Widths
 **
 ** LDT - 1440px - Large Desktop
 ** NDT - 1024px - Normal Desktop
 ** TAB -  768px - Tablet
 ** LMB -  425px - Large Mobile
 ** MMB -  375px - Medium Mobile
 ** SMB -  320px - Small Mobile
 **
 ** Bootstrap Screen Widths
 **
 ** @size_xl            : "1200px";
 ** @size_lg            : "1072px";
 ** @size_md            : "992px";
 ** @size_sm            : "768px";
 ** @size_xs            : "350px";
 **
 **/

.container {
  margin: 1rem;
}

section {
  // margin-top: 55px;
  margin-bottom: 30px;
  background-color: transparent;
  color: black;
  height: auto;
  border: 2px solid transparent;

  .section-heading {
    // These are standard for all sections
    font-family: "Droid Serif", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    text-transform: none;
    font-style: italic;
    margin: 5px auto;
    padding: 0px 10px 0px;
    text-align: center;
    // These may be modified in each section/module
    color: #000000;
    text-shadow: 3px 2px 5px #777777;
  }
  
  .section-subheading {
    // These are standard for all sections
    margin: 20px auto 10px;
    padding: 10px 10px 10px;
    width: 90%;
    max-width: 500px;
    // These may be modified in each section/module
    color: #000000;
    text-shadow: 3px 2px 5px #777777;
  }
  
}

.dropdown-menu {
  background-color: transparent;
  list-style: none;
  margin-left: 0;
  text-align: left;
}

.centerText {
  margin: 0 auto;
  display: flex-block;
  text-align: center;
}

.disabled {
  display: none;
}

.loaded {
  color: red;
  font-weight: normal;;
  font-size: .7em;
}
