/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}
  
/**
 ** Google Device Widths
 **
 ** LDT - 1440px - Large Desktop
 ** NDT - 1024px - Normal Desktop
 ** TAB -  768px - Tablet
 ** LMB -  425px - Large Mobile
 ** MMB -  375px - Medium Mobile
 ** SMB -  320px - Small Mobile
 **
 ** Bootstrap Screen Widths
 **
 ** @size_xl            : "1200px";
 ** @size_lg            : "1072px";
 ** @size_md            : "992px";
 ** @size_sm            : "768px";
 ** @size_xs            : "350px";
 **
 **/

.section-heading {
  font-family: "Droid Serif", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: none;
  font-style: italic;
  padding: 0px 10px 0px;
  color: whitesmoke;
  text-shadow: 2px 3px 4px #666666;
}

.section-subheading img {
  margin: 0px auto 30px;
  width: 90%;
  max-width: 500px;
}

.dropdown-menu {
  background-color: transparent;
  list-style: none;
  margin-left: 0;
  text-align: left;
}
