@import '../../styles';

.home-section {
  margin: 3px;
  height: auto;
  background-image: url("../../assets/images/home/blue-smoke-wallpaper-hd1.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .home-div {
    margin: 0 auto;
    
    .section-heading {
      width: 100% !important;
      margin: 10px auto 30px;
      font-size: 2em;
      text-shadow: 3px 2px 5px #65ade4;
    }

    .section-subheading {
      color: #000000;
      text-shadow: 2px 2px 6px #000000;
    }
  }

}