@import '../../styles';

.home-section {
  margin: 0px;
  height: 100vh;
  //                                   Top Color, Mid Color, Bottom Color
  background: -webkit-linear-gradient(#f5f5f5, #f5f5f5, #ffffff, #ffffff);
  background:    -moz-linear-gradient(#f5f5f5, #f5f5f5, #ffffff, #ffffff);
  background:     -ms-linear-gradient(#f5f5f5, #f5f5f5, #ffffff, #ffffff);
  background:      -o-linear-gradient(#f5f5f5, #f5f5f5, #ffffff, #ffffff);
  background:         linear-gradient(#f5f5f5, #f5f5f5, #ffffff, #ffffff);
  color: #000000;

  .home-div {
    margin: 0 50px;
    
    .section-heading {
      color: #000000;
      text-shadow: 3px 2px 5px #777777;
    }

    .section-subheading {
      color: #000000;
      text-shadow: 2px 2px 6px #000000;
    }
  }

}