@import "../../styles";

.videos-section {
  margin: 0px;
  height: 100vh;
  //                                   Top Color, Mid Color, Bottom Color
  background: -webkit-linear-gradient(#7eff70, #baeebe, #7eff70);
  background:    -moz-linear-gradient(#7eff70, #baeebe, #7eff70);
  background:     -ms-linear-gradient(#7eff70, #baeebe, #7eff70);
  background:      -o-linear-gradient(#7eff70, #baeebe, #7eff70);
  background:         linear-gradient(#7eff70, #baeebe, #7eff70);
  color: #000000;

  .videos-div {
    margin: 0px 50px;
    padding-top: 10px;
    height: auto;
    
    .section-heading {
      text-shadow: 3px 2px 5px #24c600;
    }

    .top-right-img {
      position: absolute;
      top:10px;
      right:10px;
      float: right;
      max-height: 200px;
      max-width: 200px;
      width:auto;
      height: auto;
    }
  }
  
  .vidlst {
    display: block;
    list-style-type: none;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
    // margin-top: 1em;
    padding-left: 20px;
  }
  
  .panel {
    background-color: transparent;
    height: auto;
    margin: 0px auto;
    overflow-x: wrap;
    overflow-y: wrap;
    width: 240px;
    word-wrap: break-word;
  
    .panel-title {
      height: 30px;
      text-align: center;
      text-overflow: wrap;
      vertical-align: center;
    }

    .panel-body {
      text-shadow: 1px 1px 2px #f5f5f5;
      background-color: #00CCFF;
    }
  }

  .filterResult {
    color: #000080;
    text-shadow: 2px 2px 6px #000000;
  }
  
  img {
    height: 240px;
    width: auto;
  }
  
  select {
    color: #000080;
  }
  
  input {
    background-color: #f5f5f5;
  }
  
  .primary {
    color: #000080;
    font-weight: normal;
    text-shadow: none;
  }
  
  .category {
    color: #000000;
    font-weight: normal;
    text-shadow: none;
  }
  
  p {
    text-align: left;
  }

}