.photo-fullscreen-section {
    color: #f5f5f5;
    font-weight: normal;
    background: -webkit-linear-gradient(#666666, #000000, transparent);
    background: -moz-linear-gradient(#666666, #000000, transparent);
    background: -ms-linear-gradient(#666666, #000000, transparent);
    background: -o-linear-gradient(#666666, #000000, transparent);
    background: linear-gradient(#666666, #000000, transparent);
  }
  .photo-fullscreen-section .section-heading {
    color: #000000;
    margin: 50px 0px 0px 0px;
    text-shadow: 3px 2px 5px #A3A3A3;
  }
  .photo-fullscreen-section #fullscreenPhoto {
    margin: 0px auto 10px;
  }
  .photo-fullscreen-section #fullscreenPhoto #imgSizeSlider {
    margin-left: 10px;
    position: absolute;
    top: 0px;
  }
  .photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .imgSizeLbl {
    background-color: #000000;
    margin: 0px auto 5px;
    position: relative;
    text-align: left;
  }
  .photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize {
    border: 1px solid #00CCFF;
    margin: 0px;
  }
  .photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize input[type=range] {
    -webkit-appearance: none;
  }
  .photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize input[type=range]::-webkit-slider-runnable-track {
    background: #A3A3A3;
    border: 0px;
    border-radius: 3px;
    height: 5px;
    width: auto;
  }
  .photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: goldenrod;
    border: 0px;
    border-radius: 50%;
    height: 16px;
    margin-top: -4px;
    width: 16px;
  }
  .photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize input[type=range]:focus {
    outline: none;
  }
  .photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize input[type=range]:focus::-webkit-slider-runnable-track {
    background: #A3A3A3;
  }
  .photo-fullscreen-section #fullscreenPhoto .img {
    border: 1px solid #FF0000;
    margin: 50px auto 5px;
  }
  