<section>

    <div class="about-section">

        <div class="about-div about-privacy-div">
    
            <mat-card>
                <mat-card-title class="section-heading center-text">{{heading}}</mat-card-title>
                <mat-card-subtitle class="section-subheading center-text">{{subHeading}}</mat-card-subtitle>
            </mat-card><br/>
    
            <mat-card>
                <mat-card-content>
                    <h4>We Keep Your Information Private</h4>
                    <p>privacy statement goes here!</p>

                    <br/><br/><br/><br/><br/><br/><br/><br/>
                    <br/><br/><br/><br/><br/><br/><br/><br/>
                    <br/><br/><br/><br/><br/><br/><br/><br/>                    
                </mat-card-content>

                <mat-card-footer>
                    <m-sub-footer [version]="version" [lastModDate]="lastModDate"></m-sub-footer>
                </mat-card-footer>

            </mat-card>
            <br/><br/>

        </div>
    </div>
    <br/>
</section>
